
Name	NY CITY CENTRAL PARK, NY US

Network:ID	GHCND:USW00094728

Latitude/Longitude	40.77898°, -73.96925°

Elevation	42.7 m

https://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND:USW00094728/detail

TMAX	Maximum temperature

TMIN	Minimum temperature

AWND	Average wind speed

WT01	Fog, ice fog, or freezing fog (may include heavy fog)

PRCP	Precipitation

SNOW	Snowfall

In [79]:
import requests
import json
import pandas as pd
import glob
import os
import datetime

def urljoin(*parts):
    return ''.join([p for p in parts])

def noaa_api(base_url="https://www.ncei.noaa.gov/access/services/data/v1?",
        dataset="daily-summaries",
        data_type="TMAX,TMIN,TAVG,AWND,WT01,PRCP,SNOW,AWND",
        stations="USW00094728", start_date="", end_date="")->pd.DataFrame:
    
    url = urljoin(base_url,"dataset=",dataset, "&dataTypes=",data_type,
    "&stations=",stations,"&startDate=",start_date,"&endDate=",end_date,
    "&includeAttributes=0&units=standard&format=json")

    resp = requests.get(url)

    if resp.status_code == 200:
        json_data = resp.json() 
        return pd.DataFrame(json_data)
    else:
        print("Request Failed")

In [86]:
files = glob.glob('data/motor_collision_data/*')
format = '%Y-%m-%d'
observation_dates = []
for file in files:
    base_date = os.path.basename(file)
    date_extracted = str(base_date).replace("_","-")
    date_formatted = datetime.datetime.strptime(date_extracted, format).date()
    observation_dates.append(date_formatted)
min_date = min(observation_dates).strftime(format)
max_date = max(observation_dates).strftime(format)

In [87]:
weather_data = noaa_api(start_date=min_date,end_date=max_date)

In [88]:
weather_data

            DATE  AWND      STATION SNOW TMAX TMIN  PRCP   WT01
0     2016-10-23  8.50  USW00094728  0.0   61   45  0.00    NaN
1     2016-10-24  6.04  USW00094728  0.0   62   47  0.00    NaN
2     2016-10-25  6.49  USW00094728  0.0   52   43  0.00    NaN
3     2016-10-26  4.03  USW00094728  0.0   51   38  0.00    NaN
4     2016-10-27  5.14  USW00094728  0.0   55   40  1.41      1
...          ...   ...          ...  ...  ...  ...   ...    ...
2098  2022-07-22  2.68  USW00094728  0.0   94   78  0.00    NaN
2099  2022-07-23  2.01  USW00094728  0.0   95   78  0.00    NaN
2100  2022-07-24  4.92  USW00094728  0.0   95   79  0.00    NaN
2101  2022-07-25  4.70  USW00094728  0.0   86   73  0.98      1
2102  2022-07-26  3.80  USW00094728  0.0   81   71  0.00    NaN

[2103 rows x 8 columns]

In [96]:
file_name = f"noaa_USW00094728_{min_date.replace('-','_')}-{max_date.replace('-','_')}.pklzip"
print(file_name)
fil_df.to_pickle(f'data/weather_data/{file_name}', compression='zip')

'noaa_USW00094728_2016_10_23-2022_07_26.pklzip'